body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #1e1e1e;
  }
  
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a1 {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #292929;
    color: #c1c1c1;
  }
  
  .topnav .active {
    background-color: #121212;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

  .topnav img{
    height: 45.7167px;
    vertical-align: bottom;
  }
  
  @media (max-width: 800px) {
    .topnav a:not(:first-child) {
      display: none;
    }
    .topnav a.static {
      display: block;
    }
    .topnav a.icon {
      float: left;
      display: block;
    }
  }
  
  @media (max-width: 800px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      left: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      background-color: #1e1e1e;
    }
    a.home:first-of-type {
      margin-left: 35px;
    }
    .topnav img {
        display: none;
    }
    .topnav.responsive a1 {
        display: none;
    }
  }

  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 17px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .dropdown .dropbtn#user { 
    min-width: 94px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #1e1e1e;
    min-width: 94.6167px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
  }
  
  .dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
    
  .dropdown:hover .dropdown-content {
    display: block;
  }