{% extends 'base.html' %}

{% block header %}
  {% block title %}Users{% endblock %}
{% endblock %}

{% set active_page = "admin" %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


<script>
    // script will run on load
    $(document).ready(function(){
        fetch("/users/get-users", {
            method: 'GET',
        })
        .then(response => response.json())
        .then(data => {
            // loop through data
            for (const user of data) {
                // create row
                var row = $("<tr />")
                // append row to table
                $("#table").append(row);
                // append data to row
                row.append($("<td>" + user.id + "</td>"));
                row.append($("<td>" + user.username + "</td>"));
                row.append($("<td>" + user.role + "</td>"));
                row.append($("<td>" + 
                    "<i class='material-icons clickable role' title='Change user role'>&#xf02e;</i>" +
                    "<i class='material-icons clickable reset' title='Reset user password'>&#xeade;</i>" +
                    "<i class='material-icons clickable delete' title='Delete user'>&#xe872;</i>" + 
                    "</td>"));
            }
        })
    });

    // add click listener to icon with id settings
    document.addEventListener('click', function(event){
        const update_user_role = event.target.closest('.role');
        const reset_user_password = event.target.closest('.reset');
        const delete_user = event.target.closest('.delete');
        if (delete_user !== null) {
            const name = delete_user.parentNode.parentNode.firstChild.nextSibling.textContent;
            if (window.confirm("Please confirm that you wish to delete " + name + ".")) {
                fetch(`/users/${name}`, {
                    method: 'DELETE',
                })
                .then(function(response) {
                    if (response.status == 403) {
                        alert("You cannot delete the last admin.");
                    } else {
                        location.reload();
                    }
                })
                .catch(function(error) {
                    console.error('Error:', error);
                });;
            }
        } else if (reset_user_password !== null) {
            const name = reset_user_password.parentNode.parentNode.firstChild.nextSibling.textContent;
            if (window.confirm("Please confirm that you wish to reset " + name + "'s password.")) {
                // generate random password
                var password = Math.random().toString(36).slice(-8);
                // prompts user to save password
                alert("Please save the new password for " + name + ": " + password);
                // reset password
                $.ajax({
                    url: `/users/${name}/reset-password`,
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ password: password }),
                    success: function(response) {
                        console.log('Password reset successful');
                    },
                    error: function(error) {
                        console.log('Error resetting password:', error);
                    }
                });
            }  
        } else if (update_user_role !== null) {
            const name = update_user_role.parentNode.parentNode.firstChild.nextSibling.textContent.trim();
            const admin = update_user_role.parentNode.parentNode.firstChild.nextSibling.nextSibling.textContent.trim();
            const action = admin !== "Admin" ? "promote" : "demote";
            
            if (!window.confirm(`Please confirm that you wish to ${action} ${name} to ${action === "promote" ? "admin" : "user"}.`)) {
                return;
            }
            
            // change role
            fetch(`/users/${name}/${action}`, {
                method: 'POST'
            })
            .then(function(response) {
                if (response.status === 403) {
                    alert("You cannot demote the last admin.");
                } else {
                    location.reload();
                }
            })
            .catch(function(error) {
                console.error('Error:', error);
            });
        }

      });

</script>


<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <h2 class="header">User Management:</h2>
                </div>
            </div>
            <table class="table striped table-hover">
                <thead>
                    <tr>
                        <th>ID #</th>
                        <th>Username</th>						
                        <th>Role</th>
                        <th>Modify User</th>
                    </tr>
                </thead>
                <tbody id="table">
     
                </tbody>
            </table>
        </div>
    </div>
</div>   
<h2 class="header" id="register">Register New User:</h2>
<form method="post">
    <div class="centerdiv bottom">
      <div class="input-container ic1" style="text-align: left; margin: 20px; width: 25%; display: inline-block;">
        <input id="username" name="username" class="input" placeholder=" "  required/>
        <div class="cut"></div>
        <label for="username" class="placeholder">Username</label>
      </div>
  
      <div class="input-container ic1" style="text-align: left; margin: 20px; width: 25%; display: inline-block;">
        <input id="password" name="password" class="input" type="password" placeholder=" "  required/>
        <div class="cut"></div>
        <label for="password" class="placeholder">Password</label>
      </div>
  
      
      <select class="input" name="privilege" style="height: 50px; width: 110px; color: #9d9d9d; margin: 0px 20px;">
        <option value="user" selected>User</option>
        <option value="admin">Admin</option>
        </select>
  
      <input class="button-1" type="submit" value="Register">
    </div>
    </form>
{% endblock %}