{% extends 'base.html' %}

{% block header %}
  {% block title %}User Settings{% endblock %}
{% endblock %}

{% set active_page = "user" %}

{% block content %}

<form method="post">
  <h2 class="header hinput">User Settings:</h2>

  <div class="centerdiv">
    <div class="input-container ic1" style="text-align: left; margin: 20px; width: 30%; display: inline-block;">
      <input id="password" name="password" class="input" type="password" placeholder=" " />
      <div class="cut"></div>
      <label for="password" class="placeholder">Password</label>
    </div>

    <div class="input-container ic1" style="text-align: left; margin: 20px; width: 30%; display: inline-block;">
      <input id="new_username" name="new_username" class="input" placeholder=" " />
      <div class="cut cut-long"></div>
      <label for="new_username" class="placeholder">New Username</label>
    </div>

    <input name="change_username" class="button-1" type="submit" value="Change Username">
  </div>

  <div class="centerdiv bottom">
    <div class="input-container ic1" style="text-align: left; margin: 20px; width: 30%; display: inline-block;">
      <input id="old_password" name="old_password" class="input" type="password" placeholder=" " />
      <div class="cut cut-long"></div>
      <label for="old_password" class="placeholder">Old Password</label>
    </div>

    <div class="input-container ic1" style="text-align: left; margin: 20px; width: 30%; display: inline-block;">
      <input id="new_password" name="new_password" class="input" type="password" placeholder=" " />
      <div class="cut cut-long"></div>
      <label for="new_password" class="placeholder">New Password</label>
    </div>

    <input name="change_password" class="button-1" type="submit" value="Change Password">
  </div>

</form>

{% endblock %}