{% extends 'base.html' %}

{% block header %}
  {% block title %}Debugging{% endblock %}
{% endblock %}

{% block hyperlink %}
  {% if g.user %}
  <a class="href" href="{{ url_for('control.index') }}">Control</a>
  {% endif %}
{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    //script will get current toggle setting from database and update toggles accordingly
    $(document).ready(function(){
        lvl = document.getElementById("debug").value
        $.getJSON(`/getlogs?lvl=${lvl}`, function(logging) {
          var logs = logging.join("\n");
          document.getElementById("logs").textContent=logs;
      });
    });
</script>

<pre>
    <code id="logs" title="Logs update automatically every 30 seconds">
      Javascript hasn't loaded the logs yet!
    </code>
</pre>

<div class="centerdiv">
<select id="debug" name="debug" class="input" title="Set debug level" style="height: 50px; width: 20%; color: #9d9d9d; margin:20px;">
    <option value=4>CRIT</option>
    <option value=3>ERROR</option>
    <option value=2 selected>WARN</option>
    <option value=1>INFO</option>
    <option value=0>DEBUG</option>
</select>

<input name="update" class="button-1" type="submit" value="Update Debug Level" style="margin-bottom: 26px" onclick="updateLogs()">
</div>

  <script>
    function updateLogs(){
        lvl = document.getElementById("debug").value
        $.getJSON(`/getlogs?lvl=${lvl}`, function(logging) {
          var logs = logging.join("\n");
          document.getElementById("logs").textContent=logs;
      });
    };

    setInterval(function(){
        updateLogs()}, 30000);

  </script>

{% endblock %}