{% extends 'base.html' %}

{% block header %}
  {% block title %}User Settings{% endblock %}
{% endblock %}

{% block hyperlink %}
  {% if g.user %}
  <a class="href" href="{{ url_for('control.index') }}">Control</a>
  {% endif %}
{% endblock %}

{% block content %}

<form method="post">

  <div class="centerdiv">
    <div class="input-container ic1" style="text-align: left; margin: 20px; width: 30%; display: inline-block;">
      <input id="password" name="password" class="input" type="password" placeholder=" " />
      <div class="cut"></div>
      <label for="password" class="placeholder">Password</label>
    </div>

    <div class="input-container ic1" style="text-align: left; margin: 20px; width: 30%; display: inline-block;">
      <input id="newusername" name="newusername" class="input" placeholder=" " />
      <div class="cut cut-long"></div>
      <label for="newusername" class="placeholder">New Username</label>
    </div>

    <input name="change_username" class="button-1" type="submit" value="Change Username">
  </div>

  <div class="centerdiv">
    <div class="input-container ic1" style="text-align: left; margin: 20px; width: 30%; display: inline-block;">
      <input id="oldpassword" name="oldpassword" class="input" type="password" placeholder=" " />
      <div class="cut cut-long"></div>
      <label for="oldpassword" class="placeholder">Old Password</label>
    </div>

    <div class="input-container ic1" style="text-align: left; margin: 20px; width: 30%; display: inline-block;">
      <input id="newpassword" name="newpassword" class="input" type="password" placeholder=" " />
      <div class="cut cut-long"></div>
      <label for="newpassword" class="placeholder">New Password</label>
    </div>

    <input name="change_password" class="button-1" type="submit" value="Change Password">
  </div>

</form>

{% if session['admin'] == 1 %}
<a href="{{ url_for('auth.register') }}" class="button-1" style="display: inline-flex; align-items: center;">Register New User</a> 
<a href="{{ url_for('control.settings') }}" class="button-1" style="display: inline-flex; align-items: center;">Debugging</a>
{% endif %}




{% endblock %}